<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">
                    This is not the main page nor my framework(not sure if it is), I just made this for test and sample so, in short I am still
                    a learning developer if you want to check the main page
                    <a [routerLink]="['/dashboard']" href="">CLICK HERE</a>
                </h5>
            </div>
            <div class="card-body">
                <div class="card-block">
                    <div class="card-text">
                        <p><strong>Name:</strong> Uoiare Seno Timtim</p>
                        <p><strong>Address:</strong> Tagoloan</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>