<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h1 class="text-center">Mystery Number</h1>
            </div>
            <div class="card-body">
                <div class="card-block">
                    <!-- if lose -->
                    <div *ngIf="checkIfNoLivesLeft()" class="row">
                        <div class="col-2 push-textfield-newgame">
                            <input (click)="gameReset()" class="btn btn-primary btn-raised" type="button" value="NEW GAME">
                        </div>
                    </div>
                    <!-- if new game -->
                    <div *ngIf="!checkIfNoLivesLeft()" class="row">
                        <div class="col-2 push-textfield">
                            <input [(ngModel)]="userGuessNumber" type="text" class="form-control round text-center" placeholder="input here" id="">
                        </div>
                        <div class="col-3 push-textfield">
                            <input (click)="play()" class="btn btn-primary btn-raised" type="button" value="Guess">
                        </div>
                    </div>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-3 push-textlives">
                            <h3>LIVES :</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div *ngIf="isLoading" class="col-6 push-lives-loader">
                            <img src="assets/img/loaders/wedge-loader.gif">
                        </div>

                        <!-- lives check start -->
                        <div *ngIf="!isLoading" class="col-6 push-lives" id="">
                            <img *ngFor="let hearts of lives;" id="{{showLives(hearts)[1]}}" src="assets/img/hearts/{{showLives(hearts)[0]}}" alt="">
                        </div>
                        <!-- lives check end -->
                    </div>
                </div>
                <div class="card-block">
                    <div *ngIf="!isLoading" class="card-text text-center text-red">
                        <!-- displayMessage -->
                        <h1>{{message}}</h1>
                    </div>
                    <!-- <div *ngFor="todo of todoList" class="card-text text-center">
                        <h1>{{oto}}</h1>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>